/* Pretty printing styles. Used with prettify.js.
 *
 * Tomorrow Theme
 *
 * References:
 * Original theme - https://github.com/chriskempson/tomorrow-theme 
 * Copied from - http://jmblog.github.io/color-themes-for-google-code-prettify/css/themes/tomorrow 
 *
 */

.pln {
  color: #4d4d4c; }

.str {
    color: #718c00; }

.kwd {
    color: #8959a8; }

.com {
  color: #8e908c;
  font-style: italic; }

.typ {
    color: #4271ae; }

.lit {
    color: #f5871f; }

.pun {
    color: #4d4d4c; }

.opn {
    color: #4d4d4c; }

.clo {
    color: #4d4d4c; }

.tag {
    color: #c82829; }

.atn {
    color: #f5871f; }

.atv {
    color: #3e999f; }

.dec {
    color: #f5871f; }

.var {
    color: #c82829; }

.fun {
    color: #4271ae; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  background: white;
  padding: 10px;
  border: 1px solid #ccc; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #ccc;
  margin: 0 0 0 40px; }

ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }
